include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_taxjar *.css
recursive-include erpnext_taxjar *.csv
recursive-include erpnext_taxjar *.html
recursive-include erpnext_taxjar *.ico
recursive-include erpnext_taxjar *.js
recursive-include erpnext_taxjar *.json
recursive-include erpnext_taxjar *.md
recursive-include erpnext_taxjar *.png
recursive-include erpnext_taxjar *.py
recursive-include erpnext_taxjar *.svg
recursive-include erpnext_taxjar *.txt
recursive-exclude erpnext_taxjar *.pyc